header {
    width: 85%;
    height: 56px;
    display: flex;
    justify-content: space-between;
    padding: 5% 8% 8% 7%;
    background: RGBA(209, 205, 204, 1);
}

.links {
    width: 72%;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    height: 11px;
    margin-top: 34px;
}

.links a {
    color: #1F3022;
    text-decoration: none;
    transition: all 0.3s;
}

.links a:hover {
    color: #a36e6e;
}